@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

.main {
  height: 100vh;
  width: 50%;
  overflow: scroll;
  position: relative;
  display: inline-block;
}

.main::-webkit-scrollbar {
  display: none;
}

.item {
  height: 90px;
}
